Here are some quick tips about how to use the d4-client for Passive DNS collection:</br></br>
Unzip the archive and move to its location then enter:
<p>
    <code>
        {%- if d4_client == 'go' -%}
        #passivedns -i eth0 -l /dev/stdout | {{"./d4-goclient_%s_%s"%(os_client, arch)}} -c
        {%- endif %}

        {%- if d4_client == 'c' and destination == 'default' -%}
        #passivedns -i eth0 -l /dev/stdout | ./d4 -c configs | socat - OPENSSL-CONNECT:crq.circl.lu:4443,verify=0
        {%- endif %}

        {%- if d4_client == 'c' and destination != 'default' -%}
        #passivedns -i eth0 -l /dev/stdout | ./d4 -c configs | socat - OPENSSL-CONNECT:{{ destination }}:4443,verify=0
        {%- endif %}
    </code>
</p>
